<h1>Tasks#index</h1>
<p>Tasks go here: </p>

<ul>
    <% @tasks.each do |task| %>
        <li>
           <p><h3> <%= task.title %></h3></p>
           <p><em> <%= task.details %></em></p>
        </li>
    <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
